#first{
    display: flex;
    gap: 10px;
    /* background-color: black;
    color: azure; */
}
#header{
font-size: 10px;
}
#name{
    border-radius: 5px;
    height: 40px;
    width: 172px; 
    border: 1px solid;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    line-height: 29.05px;
    gap: 20px;
    padding-left: 10px;
}
#user{
    border-radius: 5px;
    height: 40px;
    width: 172px; 
    border: 1px solid;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    line-height: 29.05px;
    padding-left: 10px;
}
#email{
    border-radius: 5px;
    height: 40px;
    width: 384px; 
    border: 1px solid;
    gap: 30px;
    padding-left: 10px;
}
#pass{
    border-radius: 5px;
    height: 40px;
    width: 384px; 
    border: 1px solid;
    gap: 30px;
    padding-left: 10px;
}
#base{
    margin-top: 60px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 10px;
    width: 408px;
    height: 550px;
    margin-left: 467px;
    padding: 40px 70px;
    align-items: center;
}

.image{
    width: 40px;
    height: 30px;
}
#button{
    height: 50px;
    width: 400px;
    background-color: #000000;
    border-radius: 50px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    line-height: 29.05px;
    font-size: 24px;
    cursor: pointer;
}
#check{
    width: 20px;
    height: 20px;
    gap: 27px;
    font-size: 10px;
}
#words{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 7px;
}
#note{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    /* text-align: center; */
    line-height: 29.05px;
    color: #000000;
    margin-left: 58px;
}
#agree{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 17px;
    /* text-align: center; */
    line-height: 29.05px;
    color: #000000; 
}